{% load humanize%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Balance</title>
</head>
 <body>

    <h1>Resumen Financiero</h1>

    <p><strong>Total Ingresos:</strong>
        <span style="color: green;">
            ${{ ingresos|floatformat:2|intcomma }}
        </span>
    </p>
    
    <p><strong>Total Gastos:</strong>
        <span style="color: red;">
            ${{ gastos|floatformat:2|intcomma }}
        </span>
    </p>
    
    <p><strong>Balance:</strong>
        {% if balance > 0 %}
            <span style="color: green;">
                🔺 ${{ balance|floatformat:2|intcomma }}
            </span>
        {% elif balance < 0 %}
            <span style="color: red;">
                🔻 ${{ balance|floatformat:2|intcomma }}
            </span>
        {% else %}
            <span>
                ➖ ${{ balance|floatformat:2|intcomma }}
            </span>
        {% endif %}
    </p>


    <h2>Últimos movimientos</h2>
    <ul>
        {% for mov in movimientos %}
            <li>
                {{ mov.fecha }} -
                <strong>{{ mov.tipo|title }}</strong>:
                {{ mov.descripcion }} -
                {% if mov.tipo == "ingreso" %}
                    <span style="color: green;">
                        ${{ mov.monto|floatformat:2|intcomma }}
                    </span>
                {% else %}
                    <span style="color: red;">
                        ${{ mov.monto|floatformat:2|intcomma }}
                    </span>
                {% endif %}
            </li>
        {% empty %}
            <li>No hay movimientos aún.</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'crear_movimiento' %}">Agregar nuevo movimiento</a></p>
    <p><a href="{% url 'movimientos' %}">Ver todos los movimientos</a></p>
</body>
</html>